.main-image {
    max-height: 250px;
    max-width: 100%;
}

.action-button {
    background: #00a89e;
    color: #fff;
}

.action-button:hover {
    background: #11b7ac;
    color: #fff;
}

.icon-wrapper {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    
}

.bg-green-light {
    background: #ccefeb;
}

.bg-orange-light {
    background: #fce7da;
}

.bg-yellow-light {
    background: #f1f6cf;
}

.bg-pink-light {
    background: #f8dedf;
}

.icon-box {
    border-radius: 10px;
    box-shadow: 0 0 6px 5px #eee;
    width: 60px;
    height: 60px;
    color:#00a89e;
    font-size: 40px; 
}

h6 {
    font-size: 14px;
}